<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "DBISTEC" connectionString = "server = localhost; Port = 3307; user ID = adminTeste; password = toor; database = DBISTEC"
			 providerName = "MySql.Data.MySqlClient;"/>
	</connectionStrings>
</configuration>




